{%

Dim typeOfCapture = CurrentADC.PropValue("typeOfCapture")

Dim fontFamily = Theme.FontFamily
Dim borderWidth = Theme.BorderWidth

Dim controlWidth = CurrentADC.PropValue("controlWidth")
Dim controlAlign = CurrentADC.PropValue("controlAlign")

Dim paddingTopBottomDD = CurrentADC.PropValue("paddingTopBottomDD")
Dim backgroundColorDragDrop = CurrentADC.PropValue("backgroundColorDragDrop")


%}

#adc_{%= CurrentADC.InstanceId %}.adc-default {
    /*border-width: {%= Theme.BorderWidth %};*/
    width: {%= controlWidth %};
    {% If controlAlign = "center" Then %}
    margin: auto;
    text-align: center;
    {% EndIf %}
    {% If controlAlign = "left" Then%}
	float: left;
    {% EndIf %}
    {% If controlAlign = "right" Then %}
    float: right;
    {% EndIf %}
}


#adc_{%= CurrentADC.InstanceId %} #player {
    padding-top: 10%;
    padding-bottom: 5%;
}    

#adc_{%= CurrentADC.InstanceId %} label {
    padding-left: 20px;
    padding-right: 20px;
}




